.input {

    input {
        width: 100%;
        border: none;
        outline: none;
        padding: 0.5rem;
        height: 2.25rem;
        margin-block-start: 0.25rem;
        border-radius: var(--br);
        background-color: var(--frg);
        color: var(--txt);
        font-size: var(--fs-300);
        font-weight: 500;
    }

    .input__err {
        color: red;
        font-size: 0.8em;
        text-transform: lowercase;
    }
 
}