.item {
    font-size: var(--fs-300);
    font-weight: 500;
    color: vr(--txt);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 0.5rem;

    input {
        border: none;
        outline: none;
        border-radius: var(--br);
        padding: 0.5rem;
        background-color: var(--frg);
        color: var(--txt);
        font-weight: 500;
    }

    input[type*="number"] {
        ::-webkit-outer-spin-button, 
        ::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        -moz-appearance: textfield;
    }

    .name {
        width: 40%;
    }

    .qty {
        width: 10%;
    }

    .price {
        width: 20%;
    }

    .total {
        width: 20%;
        background-color: transparent;
    }

    .deleteIcon {
        color: var(--acc);
        font-size: 1.5em;

        &:hover {
            cursor: pointer;
        }

    }

    .item__err {
        width: 100%;
        margin-block: 0.25rem;
        text-transform: lowercase;
        color: #ff0000;
        font-size: 0.8em;
    }

}